@import '~antd/dist/antd.css';
/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
.App-header a{
  color: #fff;
  padding:0px 40px;

} */

.App .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.App.trigger:hover {
  color: #1890ff;
}

.App .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.App .ant-menu-item a{
  color: #ffffff;
}

.App .ant-layout{
  height: 780px;
}